{% extends 'base.html.twig' %}

{% block title %}New Classroom{% endblock %}
{% block stylesheets %}
    {{ parent() }}
 <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}


{% block body %}
    <h1>Create new Classroom</h1>
    

    {{ include('classroom/_form.html.twig') }}

    <a href="{{ path('app_classroom_index', {'id': classroom.id}) }}" class="btn btn-danger">back to the liste </a>
{% endblock %}
